body {
	/* font: 1.5 Arial Helvetica, sans-serif; */
	padding:0;
	margin:0;
	background-color:#f4f4f4;
}
/* Global */
.container {
	width:80%;
	margin:auto;
	overflow:hidden;
}
ul {
	margin:0;
	padding:0;
}
.button_1 {
	height: 37px;
	background: #e8491d;
	color: #fff;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
}
.colour_about {
	padding: 15px;
	background: #35424a;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* *{box-sizing:border-box} */
/* Header */
header {
	background: #35424a;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d solid 3px;
}
header a {
	color: #fff;
	text-decoration:none;
	text-transform:uppercase;
	font-size: 16px;
}
header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
header #branding {
	float:left;
}
header #branding h1 {
	margin:0;
}
header nav {
	float: right;
	margin-top: 10px;
}
header .highlight, header .current a{
	color: #e8491d;
	font-weight: bold;
}
header a:hover {
	color: #59f2ea;
}
/* Main*/

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.slideshow-container img {
	height: 600px;
	width: 600px;
	max-height: 100%;
	max-width: 100%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
/* .prev, .next { */
  /* cursor: pointer; */
  /* position: absolute; */
  /* top: 50%; */
  /* width: auto; */
  /* margin-top: -22px; */
  /* padding: 16px; */
  /* color: white; */
  /* font-weight: bold; */
  /* font-size: 18px; */
  /* transition: 0.6s ease; */
  /* border-radius: 0 3px 3px 0; */
/* } */

/* Position the "next button" to the right */
/* .next { */
  /* right: 0; */
  /* border-radius: 3px 0 0 3px; */
/* } */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover { */
  /* background-color: rgba(0,0,0,0.8); */
/* } */

/* Caption text */
/* .text { */
  /* color: #f2f2f2; */
  /* font-size: 15px; */
  /* padding: 8px 12px; */
  /* position: absolute; */
  /* bottom: 8px; */
  /* width: 100%; */
  /* text-align: center; */
/* } */

/* Number text (1/3 etc) */
/* .numbertext { */
  /* color: #f2f2f2; */
  /* font-size: 12px; */
  /* padding: 8px 12px; */
  /* position: absolute; */
  /* top: 0; */
/* } */

/* The dots/bullets/indicators */
/* .dot { */
  /* cursor: pointer; */
  /* height: 15px; */
  /* width: 15px; */
  /* margin: 0 2px; */
  /* background-color: #bbb; */
  /* border-radius: 50%; */
  /* display: inline-block; */
  /* transition: background-color 0.6s ease; */
/* } */

/* .active, .dot:hover { */
  /* background-color: #717171; */
/* } */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Showcase */
#showcase {
	min-height: 400px;

	text-align:center;
	color: #fff;
	width:80%;
}
#showcase h1 {
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}
#showcase p {
	font-size: 20px;
}
/* Newsletter */
#newsletter {
	padding: 15px;
	color: #fff;
	background: #35424a;
}
#newsletter h1 {
	float:left;
}
#newsletter form {
	float: right;
	margin-top: 15px;
}
#newsletter input[type="email"] {
	padding: 4px;
	height: 25px;
	width: 250px;
}
/* Boxes */
#boxes {
	margin-top: 20px;
}
#boxes .box {
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}
#boxes .box img {
	width: 90px;
}
/* Sidebar (About) */
aside#sidebar {
	width: 30%;
	margin-top: 20px;
	float:right;
}
/* Main (About) */
article#main-col {
	float:left;
	width: 65%;
}
/* Footer */
footer {
	padding: 20px;
	margin-top:20px;
	color: #fff;
	background-color: #e8491d;
	text-align: center;
}
/* Anchura variable (PC, tablet, mobile) */
@media(max-width: 768px) {
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box,
	article#main-col,
	aside#sidebar{
		float:none;
		text-align:center;
		width: 100%;
	}
	header {
		padding-bottom: 20px;
	}
	#showcase h1 {
		margin-top: 40px;
	}
	#newsletter button, .quote button {
		display: block;
		width: 100%
	}
	#newsletter form input[type="email"], .quote input, .quote textaerea {
		width: 100%;
		margin-bottom: 5px;
	}
}
/*---------------About Us (Sobre nosotros) CARLOS---------------*/
#AU_Main td{
	/*border: 1px solid black;*/
	/*background-color: brown;*/
	vertical-align: top;
	padding-bottom: 30px;
}
.AU_portrait {
	height: 100%;
	border: 5px solid #35424a;
	border-radius: 10px;
}
.AU_name{
	text-align: left;
	height: 20%;
	/*background-color: blue;*/
	font-size: 20px;
	padding-left: 20px;
	padding-top: 30px;
	font-weight: bold;
}
.AU_qoute{
	display: inline-block;
	vertical-align: text-top;
	/*background-color: red;*/
	font-size: 16px;
	padding-left: 40px;
	padding-top: 10px;
	font-style: italic;
	width: 80%;
}
.AU_qoute li{
	margin: 10px 0px 10px 30px;
}
/*.rt_name, .rt_text{
	padding-left: 20px
*/
/*---------------CARLOS---------------*/

/*---------------MARIO---------------*/
#div_map {
	border: 5px solid #e8491d;
	border-radius:10px 10px 10px 10px;
	position: relative;
    padding-bottom: 75%;
    height: auto;
	width: 350px;
    overflow: hidden;
	
}
#glg_map	{
	position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;

}
#cnct_maps {
	border-radius:10px 10px 10px 10px;
	position:fixed;
	padding: 1px 15px 15px 15px;
	background: #35424a;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}
.micons {
	height: auto;
	width: 40px;
	vertical-align: middle;
	margin-right: 8px;
}
/*---------------MARIO---------------*/
/*---------------INAKI---------------*/
/* Productos */
#productospt {
	font-family: 'Audiowide', cursive;
	font-size: 22px;
}
.productscontainer {
	height: 160px;
	width: 100%;
}
.tiles {
	width: 100%;
	height: 6%;
	background: #35424a;
	margin-bottom: 6px;
}
.productscontainer table {
	height: 120px;
	border: none;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}
.productscontainer img{
	border: none;
}
.productscontainer td{
	width: 100%;
	vertical-align: top;
	text-align: justify;
	border: none;
	/* word-break: break-all; */
	text-indent: 10px;
	/* background-color: */
}
.imgproducts {
	float:left;
	width: 20%;
	height: auto;
}
.productdesc {
	float: left;
	width: 80%;
	height: 94%;
}
.productstext {
	line-height: 85%;
}
.trtop {
	background-color: #e6f9ff;
}
.trbottom {
	background-color: #e7e8ea;
}
.productscontainer span {
	font-family: 'Audiowide', cursive;
	padding-left: 6px;
}
/*---------------INAKI---------------*/
/*---------------JOSEBA---------------*/
@font-face {
  font-family: myFirstFont;
  src: url("../Fonts/Cinzel/Cinzel-Bold.ttf");
}
#boxes_JS {
	/*margin-top: 20px;*/
}
#boxes_JS .box {
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
	padding-bottom: 50px;
	padding-top:60px;
	height:100%;
}
#boxes_JS .box img {
	width: 100%;
}
#boxes_JS .imagen {
	width:100%;
	height:50%;

}
#boxes_JS .texto {
	width:100%;
	height:50%;
}
#cruzroja {
	padding-top:14%;
}
#UNICEF {
	padding-top:13%;
}
aside#sidebar_JS {
	width: 30%;
	margin-top: 20px;
	float:right;
	font-family: myFirstFont;
	font-size:50px;
	color:#e6f9ff;
	padding: 15px 20px 15px 30px;
	background: #35424a;
	border-radius:10px 10px 10px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 25px;
	position:fixed;
	right:10px;
}
.bordeoferta {
	border: 10px solid transparent;
	/* background-color: #35424a; */
	border-image: url("../Images/border.png") 25% round;
}
.ofertas {
	text-align: center;
	margin: 0px auto;
	color: #ffe4b2;
	/* background-color: #35424a; */

}
#sidebar_JS ul {
	list-style-image: url('../Images/lista.png');
	font-size:15px;

}
/*---------------JOSEBA---------------*/
/*---------------INAKI---------------*/
/*Formulario*/
#formstyle {
	padding:20px;
	max-width: 500px;
	margin: 20px auto;
	width: 100%;
}
#formstyle label {
	display: block;
}
#formstyle textarea {
	width: 100%;
}
#formstyle input {
	display: inline;
	width: 100%;
}
#formstyle #freset, #formstyle #fsend {
	width: 30%;
	display: inline;
}
#formstyle #fbuttons {
	text-align: center;
}
#fleft{
	float: left;
	width: 70%;
}
#fright{
	float: left;
	width: 30%;
}
#fright img {
	width: 90%;
	float: right;
}
#pdf {
	display: block;
	margin: 20px auto;
}
#formstyle #freclama {
	margin-top: 8px;
	margin-bottom: 8px;
	border: dashed #35424a;
	padding: 10px 15px;
}
#formstyle legend {
	text-transform: uppercase;
}
#formbody #adobe {
	text-align: center;
}
#formstyle #radiocontainer {
	height: 30px;
}
#formstyle #radiocontainer label {
	width: 80px;
	float:left;
	margin-right: 5px;
}
#formstyle #radiocontainer input[type="radio"] {
	width: 15px;
	float:left;
	margin-right: 15px;
}
#formstyle .inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#formstyle #hoja {
	cursor: pointer; /* "hand" cursor */
	width: 60px; 
	text-align: center; 
	margin-top: 5px;
}
#formstyle .inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
/*---------------INAKI---------------*/
